/********** General **********/

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: max-content;
  overflow-x: hidden;
  background-color: #ffe4f1;
  color: #060644;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  transition: background-color 0.5s ease;
}

body.invert {
  background-color: #060644;
}

section {
  position: relative;
  min-height: 100vh;
}

.inverted {
  color: #ffe4f1;
}

a {
  color: inherit;
  text-decoration: none;
}

/********** Header and logo **********/

#logo {
  position: fixed;
  top: 0;
  left: 50vw;
  height: 15vh;
  z-index: 100;
}

#logo img {
  position: fixed;
  height: inherit;
  transform: translateX(-50%);
}

#logo-pink {
  opacity: 0;
  transition: opacity 0.5s ease;
}

#logo-navy {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#logo.active > #logo-pink {
  opacity: 1;
}

#logo.active > #logo-navy {
  opacity: 0;
}

/********** Title animation stuff **********/

.title-section {
  position: absolute;
  bottom: 7vh;
  left: 7vh;
}

.title {
  font-weight: bold;
  font-size: 700%;
}

#designer {
  font-family: 'Playfair Display', cursive;
  font-weight: normal;
  transform: translateY(-12px);
}

.line-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.word-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.letter {
  position: relative;
  display: inline-block;
  transform: translateY(100%);
  animation: float-in 3s forwards;
  animation-delay: calc(.05s * var(--i));
}

@keyframes float-in {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(-1%);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/********** About section **********/

#about {
  padding-top: 50vh;
  display: flex;
  justify-content: center;
}

#about-content{
  width: calc(100% - 14vh);
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.right-align {
  justify-content: flex-end;
  margin-bottom: 7vh;
}

.about-text {
  width: 60%;
}

/********** Projects section & lists **********/

#projects {
  display: flex;
  justify-content: center;
}

.list {
  width: calc(100% - 14vh);
  border-top: 3px solid #060644;
  font-size: 300%;
}

.list-item {
  position: relative;
  margin-top: 7vh;
  padding-bottom: 7vh;
  border-bottom: 3px solid #060644;
}

.list-item h2 {
  transition: transform 0.2s ease;
}

.list-item h2:hover {
  transform: translateX(20px);
}

#projects .list-item h2:hover {
  cursor: none;
}

.cursive {
  font-family: 'Playfair Display', cursive;
}

.cursive h2 {
  font-weight: normal;
}

.list-icon {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out, opacity 0.1s ease-in-out;
}

.list-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.list-item:hover > .list-icon {
  width: 360px;
  height: 360px;
  opacity: 1;
}

/********** Contact section **********/

#contact {
  display: flex;
  justify-content: center;
}

#contact .list {
  border-top: 3px solid #ffe4f1;
}

#contact .list .list-item {
  border-bottom: 3px solid #ffe4f1;
}

#contact .list-item h2:hover {
  cursor: pointer;
}

/********** Individual project pages **********/

.project-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.project-details h3 {
  font-weight: 500;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-top: 3px solid #060644;
  border-bottom: 3px solid #060644;
  width: calc(100% - 14vh);
  padding-top: 7vh;
  padding-bottom: 7vh;
}

.description {
  width: calc(100% - 14vh);
  margin-top: 7vh;
  padding-bottom: 7vh;
}

.gallery {
  width: calc(100% - 14vh);
  padding-bottom: 7vh;
  margin-bottom: 7vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #060644;
}

.gallery img {
  width: 100%;
  height: auto;
}

.with-margin {
  margin-right: 3vh;
}

#tsm-1 { flex: 1.779; }
#tsm-2 { flex: 0.663; }
#tsm-3 { flex: 0.747; }

#portfolio-1 { flex: 1.334; }
#portfolio-2 { flex: 1.005; }
#portfolio-3 { flex: 1.779; }

#recordshop-1 { flex: 1.779; }
#recordshop-2 { flex: 0.667; }
#recordshop-3 { flex: 0.747; }

#nhs-1 { flex: 1.414; }
#nhs-2 { flex: 1.414; }
#nhs-3 { flex : 0.795; }

/********** Media queries **********/

@media screen and (max-width: 1100px){
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 1000px){
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 900px){
  body {
    font-size: 70%;
  }
  #logo {
    height: 12vh;
  }
  .about-text {
    width: 70%;
  }
  .about-text p {
    font-size: 110%;
  }
  .right-align {
    justify-content: flex-end;
    margin-bottom: 5vh;
  }
  .list-item {
    margin-top: 5vh;
    padding-bottom: 5vh;
  }
  .tags {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .tags h3 {
    font-size: 130%;
  }
  .description {
    margin-top: 5vh;
    padding-bottom: 5vh;
  }
  .description p {
    font-size: 110%;
  }
  .gallery {
    padding-bottom: 5vh;
    margin-bottom: 5vh;
  }
}

@media screen and (max-width: 800px){
  body {
    font-size: 60%;
  }
  .about-text p {
    font-size: 120%;
  }
  .title-section {
    bottom: 5vh;
    left: 5vh;
  }
  #about-content{
    width: calc(100% - 10vh);
  }
  .list {
    width: calc(100% - 10vh);
  }
  .tags {
    width: calc(100% - 10vh);
  }
  .tags h3 {
    font-size: 140%;
  }
  .description {
    width: calc(100% - 10vh);
  }
  .description p {
    font-size: 120%;
  }
  .gallery {
    width: calc(100% - 10vh);
  }
}

@media screen and (max-width: 600px){
  body {
    font-size: 50%;
  }
  .about-text {
    width: 80%;
  }
  .about-text p {
    font-size: 140%;
  }
  .tags h3 {
    font-size: 160%;
  }
  .description p {
    font-size: 140%;
  }
}

@media screen and (max-width: 500px){
  body {
    font-size: 40%;
  }
  .about-text p {
    font-size: 170%;
  }
  .title-section {
    bottom: 3vh;
    left: 3vh;
  }
  #about-content{
    width: calc(100% - 6vh);
  }
  .list {
    width: calc(100% - 6vh);
  }
  .right-align {
    justify-content: flex-end;
    margin-bottom: 3vh;
  }
  .list-item {
    margin-top: 3vh;
    padding-bottom: 3vh;
  }
  .tags {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: calc(100% - 6vh);
  }
  .tags h3 {
    font-size: 180%;
  }
  .description {
    margin-top: 3vh;
    padding-bottom: 3vh;
    width: calc(100% - 6vh);
  }
  .description p {
    font-size: 160%;
  }
  .gallery {
    padding-bottom: 3vh;
    margin-bottom: 3vh;
    width: calc(100% - 6vh);
  }
  .with-margin {
    margin-right: 1vh;
  }
}
